<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Мои шаблоны</title>
</head>
<body>
    <div class="templates_views_container">
        <ul class="templates_views_container-list">
        {% for filter_id, filter in filters.items() %}
           <li class="templates_views_container-list-wrapper">
                <div class="templates_views_container-list-inner">
                    <p class="templates_views_container-list-values">

                        {% if filter['score_1_3'] %}
                            Оценка: 1 - 3
                        {% elif filter['score_4_5'] %}
                            Оценка: 4 - 5
                        {% else %}
                            Оценка: -
                        {% endif %}

                    </p>
                    <p class="templates_views_container-list-values">

                        {% if filter['article'] %}
                            Атрикул: {{filter['article']}}
                        {% else %}
                            Атрикул: -
                        {% endif %}

                    </p>
                    <p class="templates_views_container-list-values">

                        {% if filter['no_text'] %}
                            Шаблон для отзыва без текста
                        {% else %}
                            Шаблон для отзыва с текстом
                        {% endif %}

                    </p>


                </div>
                    <p class="templates_views_container-list-template_text">
                        <span>Текст шаблона:</span>   {{filter['template_text']}}
                    </p>
                    <p class="templates_views_container-list-stop_words">
                        {% if filter['stop_words'] %}
                            <span>Стоп слова:</span> {{filter['stop_words']}}
                        {% else %}
                            <span>Стоп слова:</span>
                        {% endif %}
                    </p>

                    <a class="update_btn" href="/redactor/{{filter_id}}">Изменить фильтр</a>
           </li>
        {% endfor %}
        </ul>
    </div>

</body>
</html>