/* Блок для index.html */


/* Блок со стилями для верхнего меню */

.settings_menu {
    max-width: 100%;
    height: 300px;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}

.settins_menu-wrapper-view_templates {
    background-color: #9400D3;
    width: 10%;
    height: 50px;
    text-align: center;
    padding-top: 1.7%;
    border-radius: 20px;
}

.settins_menu-view_templates {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: white;

}

.settings_menu-wrapper-set_time {
    background-color: #9400D3;
    width: 14%;
    height: 60px;
    text-align: center;
    padding-top: 1.3%;
    border-radius: 20px;
}

.settings_menu-set_time {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.settings_menu-form_set_time {
    height: 50%;
    width: 10%;
    background-color: #9400D3;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.settings_menu-form_set_time-description {
    height: 50%;
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: white;

}

.settings_menu-form_set_time-input {
    width: 95.4%;
}

/* Блок со стилями для формы добавления фильтра */


.form_container {
    background-color: #9400D3;
    border-radius: 20px;
    width: 70%;
    height: 70%;
    margin-left: 15%;
    padding-bottom: 2%;
}

.form_container-form_filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.form_container-add_template-description {
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 1%;
    margin-bottom: 2%;
}

.form_container-add_template-input {
    width: 70%;
    margin-left: 14%;
    margin-bottom: 4%;
    border-radius: 10px;
}


.form_container-add_filter-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 5%;
}

.form_container-add_filter-score_filters-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;

}

.form_container-add_filter-score_filters-wrapper-one {
    display: flex;
    flex-direction: row;
    width: 130%;
    margin-bottom: 5%;
}

.form_container-add_filter-description {
    font-size: 20px;
    color: white;
    margin-left: 5%;
    display: block;
    margin-right: 10%;
    width: 30%;
}
.form_container-add_filter-input {
    width: 21%;
}

.form_container-add_filter-checkbox {
    height: 100%;
    width: 40%;
}

.form_container-add_filter-article-no_text-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form_container-no_text-stop_word-description {
    margin-bottom: 1%;
    font-size: 20px;
    text-align: center;
    color: white;
}

.form_container-no_text-stop_word-input {
    height: 50%;
    width: 50%;
    resize: none;
    margin-left: 25%;
    border-radius: 10px;
}

.form_container-no_text-stop_word-btn {
    width: 30%;
    margin-top: 3%;
    margin-left: 30%;
    border-radius: 10px;
}


/* Блок для templates.html */

.templates_views_container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;

}

.templates_views_container-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.templates_views_container-list-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    background-color: #9400D3;
    border-radius: 10px;
}

.templates_views_container-list-inner {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.templates_views_container-list-values {
    margin-top: 1%;
    font-size: 20px;
    margin-bottom: 3%;
    margin-left: 5%;
    color: white;
}


.templates_views_container-list-template_text {
    width: 30%;
    margin-right: 10%;
    color: white;

}

.templates_views_container-list-stop_words {
    width: 30%;
    color: white;
}

span {
    font-size: 20px;
    color: white;
}

.update_btn {
    font-size: 20px;
    color: white;
}


/* Блок со стилями для настройки времени */
.time_form_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4%;
}

.time_form_wrapper-forms {
    background-color: #9400D3;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 200px;
}

.time_form_wrapper-description {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

.time_form_wrapper-btn {
    width: 100%;
    border-radius: 20px;
}
